body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif; 
    background: #a0d2eb;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");
    background-size: 100%;
}

.card {
    background: #d0bdf4d1;
    padding: 2em;
    border-radius: 30px;
    width: 100%;
    max-width: 420px;
    margin: 1em;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    margin: .5em
}

button:hover {
    cursor: pointer;
}

h1.temp {
    margin: 0;
    margin-bottom: 0.5em;
    font-size: 2.5em;
}

.min-max {
    display: flex;
    align-items: center;
}

.min-max > div {
    margin: 10px;
}

.min-max > div.min {
    margin-left: 0px;
}

.min, .max {
    font-size: 90%;
}

.info {
    display: flex;
    align-items: flex-end;
}

.description {
    font-size: 130%;
    text-transform: capitalize;
    margin-bottom: 5px;
}

.humidity {
    margin-bottom: 5px;
}
